{% extends 'layout.html' %}

{% block login %}

<!-- contact content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
  <h2 class="w3-wide w3-center"> TYPE YOUR NOTES</h2>
  <h2 class="w3-wide w3-center">START NOW</h2>
  <div class="w3-row w3-padding-32">

    <div class="w3-col m6">
      <form action="/compose" method="POST">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" style="width: 50vw;" type="text" placeholder="TOPIC" name="TOPIC"><br>
            <textarea class="w3-input w3-border" style="width: 50vw; height: 50vh; resize: vertical;" type="text"
              placeholder="Type your notes here" name="notes"></textarea>
            <button class="w3-button w3-black w3-section w3-right" type="submit">Save notes</button>
          </div>



      </form>


    </div>
  </div>
</div>


{% endblock %}