{% extends 'layout.html' %}

{% block login %}

<!-- contact content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
  <h2 class="w3-wide w3-center">WELCOME BACK</h2>
  <br><br>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom">
      <i class="fa fa-map-marker" style="width:30px"></i> CONTACT US : <br><br>
      <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    </div>
    <div class="w3-col m6">
      <form action="/login" method="POST">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required="" name="Email">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="password" placeholder="Password" required="" name="Password">
          </div>
        </div>
        <button class="w3-button w3-black w3-section w3-right" type="submit">LOGIN</button>
        <p class="w3-opacity w3-center"><i><a href="/forgotpwd">Forgot email
              or password?</a></i></p>

      </form>

      <p class="w3-opacity w3-center"><i> Don't have an account?<a href="/signup"> SIGN UP </a></i></p>

    </div>
  </div>
</div>


{% endblock %}